{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}放假安排_便民工具{% endblock %}
{% block metas %}
<meta name="description" content="节假日及调休安排">
<meta name="keywords" content="节假日及调休安排,假期,在线工具">
{% endblock %}

{% block tool_name %}放假安排{% endblock %}
{% block left_content %}
<div class="card-body p-0">
    <h3 class="card-title pl-2 title-info">{{ year }}年放假安排：</h3>
        <table class="table bg-white table-bordered text-center table-sm">
        <thead>
        <tr bgcolor="#20c997">
            <th><strong>节日</strong></th>
            <th><strong>放假时间</strong></th>
            <th><strong>调休日期</strong></th>
            <th><strong>放假天数</strong></th>
        </tr>
        </thead>
        <tbody>
        {% for each in holiday %}
        <tr>
            <td>{{ each.name }}</td>
            <td>{{ each.duration }}</td>
            <td>{{ each.rest }}</td>
            <td>{{ each.days }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
