{% extends "tool/base_tool.html" %}
{% load static %}

{% block head_title %}手机号归属地_便民工具{% endblock %}
{% block metas %}
<meta name="description" content="base64在线加密解密，加密解密，base64">
<meta name="keywords" content="base64在线加密解密，加密解密，base64,在线工具">
{% endblock %}

{% block tool_name %}手机号归属地{% endblock %}
{% block left_content %}
<div class="card-body p-0">
    <h3 class="card-title pl-2 title-info">工具说明：</h3>
    <ul>
        <li>该工具每天限量使用500次</li>
    </ul>
</div>
<div class="mb-3">
    <div class="form-group">
        <label>手机号：</label>
        <input type="url" class="form-control rounded-0" id="form-phone" placeholder="请输入要查询的手机号" required>
    </div>
    <button type="submit" class="btn btn-info btn-sm rounded-0" id="start">查询</button>
</div>
<div class="card mb-3 rounded-0">
    <div class="card-header text-center text-info font-weight-bold py-2">查询结果</div>
    <div class="card-body push-result text-center p-3">结果显示区</div>
</div>
{% endblock %}

{% block end_f %}
<script>
$('#start').click(function() {
	phone_api("{{ csrf_token }}", "{% url 'tool:phone' %}");
})
</script>
{% endblock %}
