.tool-cate .card-header strong {
    padding-bottom: 12px;
    border-bottom: 2px solid #00AAEE;
}
.tool-cate .card-header {
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}
.tool-header img {
    max-width: 5rem;
}
.tool-des {
    height: 8rem;
}
.tool-des p {
    line-height: 2;
}
.title-info {
    border-left: 4px solid #17a2b8;
}
pre {
    border: none;
    background-color: #e4eaef;
    border-radius: 3px;
    font-size: 85%;
    padding: .5rem;
}
.re-result pre {
    margin-bottom: 0;
}
.re-result p {
    margin-bottom:5px;
}
.tool-list a:hover {
    color:#222;
}
.tool-link-text {
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.card ul {
    line-height:2
}
@media (min-width: 1200px) {
.tool-list .card:hover {
    box-shadow:0 3px 9px rgba(0, 0, 0, 0.275)
}
}

        .navbar {
  background-color: #ffffff;
}
.navbar .navbar-brand {
  color: #0f1111;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #e25949;
}
.navbar .navbar-text {
  color: #0f1111;
}
.navbar .navbar-text a {
  color: #e25949;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #e25949;
}
.navbar .navbar-nav .nav-link {
  color: #0f1111;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #e25949;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #e25949;
  background-color: #ffffff;
}
.navbar .navbar-toggle {
  border-color: #ffffff;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #ffffff;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #0f1111;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #0f1111;
}
.navbar .navbar-link {
  color: #0f1111;
}
.navbar .navbar-link:hover {
  color: #e25949;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f1111;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e25949;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e25949;
    background-color: #ffffff;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f1111;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e25949;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e25949;
    background-color: #ffffff;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f1111;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e25949;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e25949;
    background-color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #0f1111;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e25949;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e25949;
    background-color: #ffffff;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #0f1111;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #e25949;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #e25949;
  background-color: #ffffff;
}